* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #ff6f61, #deff8a, #61a3ff);
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px #000000;
}

.date-container {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
}

.stopwatch {
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
}

.display {
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #61a3ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5194e3;
}

@media (max-width: 500px) {
    h1 {
        font-size: 2em;
    }

    .date-container {
        font-size: 1em;
    }

    .display {
        font-size: 2em;
    }

    button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}
